<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:label="AcadMate"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AcadMate">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AcadMate.Main" />
        <activity android:name=".TimetableActivity" />
        <activity android:name=".AssignmentActivity" />
        <activity android:name=".AttendanceActivity" />
        <activity android:name=".MarksActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".AboutActivity" />

    </application>
</manifest>